<!DOCTYPE html>
<html>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45871187-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-45871187-2');
  </script>


  <% include ./partials/head %>

  <body>
    <!-- Main Content START -->
    <div id="myFullpage" class="mob-main">


      <!-- Error Section START -->
      <div class="section">
        <div class="jumbotron">
          <h1><%= message %></h1>
          <h2><%= error.status %></h2>
        </div>
      </div>
      <div class="section" id="error">
        <div class="fp-bg"></div>
        <div class="jumbotron">
          <h1>This is not the page you are looking for</h1>
        </div>
      </div>
      <!-- Error Section END -->


    </div>
    <!-- Main Content END -->



    <% include ./partials/scripts %>
  </body>
</html>

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
