<!DOCTYPE html>
<html>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45871187-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-45871187-2');
  </script>


  <% include ./partials/head %>

  <body>
    <div class="sidenav mob-sidenav">
      <ul>
        <li id="airport-sidenav" class="sidenav-item">
          <img id="airport-icon" class="sidenav-icon" src="images/icon-kno.png"/>
          <a href="#airport" class="sidenav-text">KNO</a>
        </li>
        <li id="eat-sidenav" class="sidenav-item">
          <img id="eat-icon" class="sidenav-icon" src="images/icon-eat.png"/>
          <a href="#eat" class="sidenav-text">Eat</a>
        </li>
        <li id="sightsee-sidenav" class="sidenav-item">
          <img id="sightsee-icon" class="sidenav-icon" src="images/icon-sightsee.png"/>
          <a href="#sightsee" class="sidenav-text">Sightsee</a>
        </li>
        <li id="souvenir-sidenav" class="sidenav-item">
          <img id="souvenir-icon" class="sidenav-icon" src="images/icon-gift.png"/>
          <a href="#souvenir" class="sidenav-text">Souvenir</a>
        </li>


        <div id="main-sidenav" class="img-container">
          <a href="#mnj">
            <div id="main-hidden">
              <img id="main-bg" src="images/hili-mirajunda.png">
            </div>
            <img id="text-bg" src="images/mirajunda-aktif.png">
          </a>
        </div>

        <div id="footer-sidenav">
          Coded with love <br/>
          © MnJ 2018
        </div>
      </ul>
    </div>



    <!-- Main Content START -->
    <div id="myFullpage" class="main mob-main">


      <!-- Airport Section START -->
      <div class="section">
        <% for (var i=0; i<airport.length; i++) { %>
        <% if (i===0) { %>
        <div class="slide" data-anchor="airport" id="airport-slide">
          <div class="fp-bg"></div>
          <div class="container col-md-10">
            <div class="title-kno">
              <strong><%= airport[i].title %></strong>
            </div>
            <div class="desc-kno"><%= airport[i].desc %></div>
          </div>
        </div>
        <% } else if (i===1) { %>
        <div class="slide" data-anchor="getting-into">
          <div class="container col-md-10">
            <div class="title-kno" style="text-align: left;">
              <strong>Getting into the city</strong>
            </div>
            <% for (var j=0; j<airport[i].transport.length; j++) { %>
            <div class="row desc-transport">
              <div class="col-sm-4 gambar-kno-container">
                <img src="<%= airport[i].transport[j].image %>" alt="" class="gambar-kno">
              </div>
              <div class="col-sm-8 text-kno-container">
                <p class="kno-trans-title"><%= airport[i].transport[j].title %></p>
                <p class="kno-trans-cost"><%= airport[i].transport[j].cost %></p>
                <p class="kno-trans-pros"><strong>Pros:</strong> <%= airport[i].transport[j].pros %></p>
                <p class="kno-trans-cons"><strong>Cons:</strong> <%= airport[i].transport[j].cons %></p>
              </div>
            </div>
            <% } %>
          </div>
        </div>
        <% } %>
        <% } %>
      </div>
      <!-- Airport Section END -->


      <!-- Eat Section START -->
      <div class="section">

        <% for (var i=0; i<eats.length; i++) { %>
        <div class="slide" data-anchor="<%= eats[i].anchor %>">
          <div class="container col-md-10">
            <div class="title"><h3><strong><%= eats[i].title %></strong></h3></div>
            <div class="address">
              <img class="address-icon" src="images/icon-location.png"/>
              <a href="<%= eats[i].latlng %>">
                <h6 class="address-text"><%= eats[i].address %></h6>
              </a>
            </div>
            <div class="content-body row">
              <div class="col-md-5">
                <div class="row" id="gambar-container">
                  <div class="gambar col-md-12">
                    <img class="gambar-img" src="<%= eats[i].images %>"/>
                  </div>
                  <div class="gambar-credit col-md-12">
                    Credit: <%= eats[i].credit %>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <h6 class="cost">Average Cost :
                  <span class="cost">&nbsp; <%= eats[i].cost %></span>
                </h6>
                <h6 class="description"><%- eats[i].description %></h6>
              </div>
            </div>
            <div class="row rating">
              <div class="col-md-5 col-xs-12">
                <div class="row">Mira says:</div>
                <div class="row saying">&nbsp; &nbsp; &nbsp; <%- eats[i].mira %></div>
              </div>
              <div class="col-md-5 col-xs-12 ml-auto junda">
                <div class="row">Junda says:</div>
                <div class="row saying">&nbsp; &nbsp; &nbsp; <%- eats[i].junda %></div>
              </div>
            </div>
          </div>
        </div>
        <% } %>

      </div>
      <!-- Eat Section END -->



      <!-- Sightsee Section START -->
      <div class="section">
        
        <% for (var i=0; i<sightsee.length; i++) { %>
        <div class="slide" data-anchor="<%= sightsee[i].anchor %>">
          <div class="container col-md-10">
            <div class="title"><h3><strong><%= sightsee[i].title %></strong></h3></div>
            <div class="address">
              <img class="address-icon" src="images/icon-location.png"/>
              <a href="<%= sightsee[i].latlng %>">
                <h6 class="address-text"><%= sightsee[i].address %></h6>
              </a>
            </div>
            <div class="content-body row">
              <div class="col-md-5">
                <div class="row" id="gambar-container">
                  <div class="gambar col-md-12">
                    <img class="gambar-img" src="<%= sightsee[i].images %>"/>
                  </div>
                  <div class="gambar-credit col-md-12">
                    Credit: <%= sightsee[i].credit %>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <h6 class="cost">Admission Fee :
                  <span class="cost">&nbsp; <%= sightsee[i].cost %></span>
                </h6>
                <h6 class="description"><%- sightsee[i].description %></h6>
              </div>
            </div>
            <div class="row nearby-container">
              <div class="col-md-12 nearby-label" id="">Around Here :</div>
              <% for (var j=0; j<sightsee[i].around.length; j++) { %>
                <div class="col-md-4 col-xs-12">
                  <div class="nearby-item">
                    <img class="nearby-img" src="<%= sightsee[i].around[j].images %>">
                    <a class="nearby-title" href="<%= sightsee[i].around[j].latlng %>">
                      <%= sightsee[i].around[j].title %>
                    </a>
                  </div>
                </div>
              <% } %>
            </div>
          </div>
        </div>
        <% } %>

      </div>
      <!-- Sightsee Section END -->


      <!-- Souvenir Section START -->
      <div class="section">
        
        <% for (var i=0; i<souvenirs.length; i++) { %>
        <div class="slide" data-anchor="<%= souvenirs[i].anchor %>">
          <div class="container col-md-10">
            <div class="title"><h3><strong><%= souvenirs[i].title %></strong></h3></div>
            <div class="address">
              <img class="address-icon" src="images/icon-location.png"/>
              <a href="<%= souvenirs[i].latlng %>">
                <h6 class="address-text"><%= souvenirs[i].address %></h6>
              </a>
            </div>
            <div class="content-body row">
              <div class="col-md-4">
                <div class="row">
                  <div class="gambar col-md-12">
                    <img class="gambar-img" src="<%= souvenirs[i].images %>"/>
                  </div>
                  <div class="gambar-credit col-md-12">
                    Credit: <%= souvenirs[i].credit %>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-7">
                <h6 class="cost">Average Cost :
                  <span class="cost">&nbsp; <%= souvenirs[i].cost %></span>
                </h6>
                <h6 class="description"><%= souvenirs[i].description %></h6>
                <h6 class="suitable-label">Suitable souvenir for :</h6>
                <p class="suitable-item">
                  <%= souvenirs[i].audience %>
                </p>
              </div>
            </div>
            <div class="row nearby-container">
            </div>
          </div>
        </div>
        <% } %>
        
      </div>
      <!-- Souvenir Section END -->


      <!-- Invitation Section START -->
      <div class="section active" id="invitation-main">
        <div class="slide" data-anchor="mnj" id="slide-main">
          <div class="fp-bg"></div>
          <div class="container col-md-10">
            <img src="images/muka.png" alt="" id="para-muka">
            <img src="images/bus.png" alt="" id="para-bus">
            <img src="images/phonebooth.png" alt="" id="para-phone">
            <div class="invitation-content col-md-12">
              Together we invite you to our wedding,
              <div id="inv-date">20 Okt</div>
              <div id="inv-time"></div>
            </div>
          </div>
        </div>
        <div class="slide" data-anchor="details" id="slide-detail">
          <div class="fp-bg"></div>
          <div class="container col-md-10">
            <div class="invitation-paragraph">
            </div>
          </div>
        </div>
      </div>
      <!-- Invitation Section END -->


    </div>
    <!-- Main Content END -->



    <% include ./partials/scripts %>
  </body>
</html>
