<!DOCTYPE html>
<html>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45871187-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-45871187-2');
  </script>


  <% include ./partials/head %>

  <body>
    <div class="sidenav mob-sidenav">
      <ul>
        <li id="airport-sidenav" class="sidenav-item">
          <img id="airport-icon" class="sidenav-icon" src="images/icon-kno.png"/>
          <a href="#airport" class="sidenav-text">KNO</a>
        </li>
        <li id="eat-sidenav" class="sidenav-item">
          <img id="eat-icon" class="sidenav-icon" src="images/icon-eat.png"/>
          <a href="#eat" class="sidenav-text">Eat</a>
        </li>
        <li id="sightsee-sidenav" class="sidenav-item">
          <img id="sightsee-icon" class="sidenav-icon" src="images/icon-sightsee.png"/>
          <a href="#sightsee" class="sidenav-text">Sightsee</a>
        </li>
        <li id="sleep-sidenav" class="sidenav-item">
          <img id="sleep-icon" class="sidenav-icon" src="images/icon-sleep.png"/>
          <a href="#sleep" class="sidenav-text">Sleep</a>
        </li>
        <li id="souvenir-sidenav" class="sidenav-item">
          <img id="souvenir-icon" class="sidenav-icon" src="images/icon-gift.png"/>
          <a href="#souvenir" class="sidenav-text">Souvenir</a>
        </li>


        <div id="main-sidenav" class="img-container">
          <a href="#mnj">
            <div id="main-hidden">
              <img id="main-bg" src="images/hili-mirajunda.png">
            </div>
            <img id="text-bg" src="images/mirajunda-aktif.png">
          </a>
        </div>

        <div id="footer-sidenav">
          Coded with love <br/>
          © MnJ
        </div>
      </ul>
    </div>



    <!-- Main Content START -->
    <div id="myFullpage" class="main mob-main">


      <!-- Airport Section START -->
      <div class="section">
        <div class="slide" data-anchor="airport">
          <div class="container col-md-10">
            <img class="icon-kno" src="images/icon-kno.png" alt="">
            <div class="title-kno">Kuala Namu International Airport</div>
            <div class="desc-kno"><strong>ARRIVAL</strong></div>
          </div>
        </div>
        <div class="slide" data-anchor="airport-train">
          <div class="container col-md-10">
            <h3>Airport Train</h3>
          </div>
        </div>
        <div class="slide" data-anchor="bus">
          <div class="container col-md-10">
            <h3>Bus</h3>
          </div>
        </div>
        <div class="slide" data-anchor="taxi">
          <div class="container col-md-10">
            <h3>Taxi</h3>
          </div>
        </div>
      </div>
      <!-- Airport Section END -->


      <!-- Eat Section START -->
      <div class="section">

        <% for (var i=0; i<eats.length; i++) { %>
        <div class="slide" data-anchor="<%= eats[i].anchor %>">
          <div class="container col-md-10">
            <div class="title"><h3><strong><%= eats[i].title %></strong></h3></div>
            <div class="address">
              <img class="address-icon" src="images/icon-location.png"/>
              <a href="<%= eats[i].latlng %>">
                <h6 class="address-text"><%= eats[i].address %></h6>
              </a>
            </div>
            <div class="content-body row">
              <div class="col-md-5">
                <div class="row" id="gambar-container">
                  <div class="gambar col-md-12">
                    <img class="gambar-img" src="<%= eats[i].images %>"/>
                  </div>
                  <div class="gambar-credit col-md-12">
                    Credit: <%= eats[i].credit %>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <h6 class="cost">Average Cost :
                  <span class="cost">&nbsp; <%= eats[i].cost %></span>
                </h6>
                <h6 class="description"><%- eats[i].description %></h6>
              </div>
            </div>
            <div class="row rating">
              <div class="col-md-5">
                <div class="row">Mira says:</div>
                <div class="row saying">&nbsp; &nbsp; &nbsp; <%= eats[i].mira %></div>
              </div>
              <div class="col-md-5 ml-auto junda">
                <div class="row">Junda says:</div>
                <div class="row saying">&nbsp; &nbsp; &nbsp; <%= eats[i].junda %></div>
              </div>
            </div>
          </div>
        </div>
        <% } %>

      </div>
      <!-- Eat Section END -->



      <div class="section">
        <div class="slide" data-anchor="sightsee">
          <div class="container col-md-10">
            <div class="title"><h3><strong>Sightsee</strong></h3></div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="slide" data-anchor="sleep">
          <div class="container col-md-10">
            <div class="title"><h3><strong>Sleep</strong></h3></div>
          </div>
        </div>
      </div>


      <!-- Souvenir Section START -->
      <div class="section">
        
        <% for (var i=0; i<souvenirs.length; i++) { %>
        <div class="slide" data-anchor="<%= souvenirs[i].anchor %>">
          <div class="container col-md-10">
            <div class="title"><h3><strong><%= souvenirs[i].title %></strong></h3></div>
            <div class="address">
              <img class="address-icon" src="images/icon-location.png"/>
              <a href="<%= souvenirs[i].latlng %>">
                <h6 class="address-text"><%= souvenirs[i].address %></h6>
              </a>
            </div>
            <div class="content-body row">
              <div class="col-md-4">
                <div class="row">
                  <div class="gambar col-md-12">
                    <img class="gambar-img" src="<%= souvenirs[i].images %>"/>
                  </div>
                  <div class="gambar-credit col-md-12">
                    Credit: <%= souvenirs[i].credit %>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-7">
                <h6 class="cost">Average Cost :
                  <span class="cost">&nbsp; <%= souvenirs[i].cost %></span>
                </h6>
                <h6 class="description"><%= souvenirs[i].description %></h6>
              </div>
            </div>
            <div class="row rating">
              <div class="col-md-5">
                <div class="row">Mira says:</div>
                <div class="row saying">&nbsp; &nbsp; &nbsp; <%= souvenirs[i].mira %></div>
              </div>
              <div class="col-md-5 ml-auto junda">
                <div class="row">Junda says:</div>
                <div class="row saying">&nbsp; &nbsp; &nbsp; <%= souvenirs[i].junda %></div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        
      </div>
      <!-- Souvenir Section END -->


      <!-- Invitation Section START -->
      <div class="section active" id="invitation-main">
        <div class="slide" data-anchor="mnj">
          <div class="fp-bg"></div>
          <div class="container col-md-10">
            <div class="invitation-main-title">Wedding Day</div>
            <img src="images/muka.png" alt="" id="para-muka">
            <img src="images/bus.png" alt="" id="para-bus">
            <img src="images/phonebooth.png" alt="" id="para-phone">
          </div>
        </div>
      </div>
      <!-- Invitation Section END -->


    </div>
    <!-- Main Content END -->



    <% include ./partials/scripts %>
  </body>
</html>
